@import '~@/assets/styles/global/colors';
@import '~@/assets/styles/global/partials/right-sidebar';
@import '~@/assets/styles/global/partials/action-buttons';
@import '~@/assets/styles/global/variables';

.right-sidebar header.sidebar_header
  margin-bottom 0
  .delete-rate
    display flex
    justify-content center
    padding  .5em 1em
    border-bottom 0
    .delete-rate__button
      display flex
      align-items bottom
      color $red
      padding 0 10px

.view-margins {
  cursor: pointer;
}

.sidebar-control {
  justify-content: center !important;
  background: white;
  height: 49px;
  border-bottom: 1px solid #DFE2E3;
}


.v-table-content__loader {
  top: 0px;
  z-index: 2;
}

.pay-rates, .margins {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 150px;

  &__title-label {
    margin-top: 1em;
    font-weight: bold;
  }


  &__option-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__option {
    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__calendar {
    position: relative;
  }

  &__cal-label {
    position: absolute;
    top: 6px;
    right: 28px;

    @media (max-width: $display-small-desktop) {
      right: 5px;
    }
  }

  &__button {
    font-weight: bold;
    width: 50%;

    &--red {
      font-weight: bold;
      color: $red;
    }
  }

  &__rate-input {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;

    &--relative {
      position: relative;
      flex: 1;

      @media (max-width: $display-small-desktop) {
        flex: 0 0 100%;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:first-child {
        margin-right: 10px;
      }

      label {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: $fontDark;
        font-size: 1.125rem;
      }
    }

    input {
      width: 100%;
      height: 65px;
      border-radius: 3px;
      border: 1px solid $darkGray;
      box-shadow: none;
      padding-left: 15px;
      padding-right: 30px;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &::placeholder {
        color: $fontGray;
        font-size: 1rem;
      }
    }
  }

  &__rate-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--title {
      opacity: 0.6;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
      flex: 100%;
    }

    >button {
      margin-top: 5px;
      margin-bottom: 5px;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      margin-right: 5px;
      max-width: 100% !important;
      flex: 1;
    }
  }

  &__bottom-controls {
    flex: 1;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid $darkGray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__calendar-container {
    width: 100%;

    a {
      margin-top: 5px;
      width: 50%;
      display: inline-block;
    }
  }
}

.disabled {
  color: grey;
  opacity: 0.5;
}

.space-top {
  margin-top: 20px;  
}