@import '~@/assets/styles/global/variables';

.scheduler-cont
  padding-bottom 20px
  .scheduler
    margin-left 15px
    margin-right 15px
    border-radius 7px
    background-color #FFFFFF
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.1)
    // overflow-y auto
    height: auto;
    min-height: 100% !important;
    position relative
    padding-top 60px
    &__header
      position absolute
      top 0
      width 100%
      height 60px
      border-bottom 1px solid #CBCBCB
      border-right 1px solid #CBCBCB
      display flex
      background-color #ffffff
      z-index 2
      flex-wrap nowrap
      &--title
        flex 1
        position relative
        min-width 200px
        max-width 200px
        padding 16px 10px
        span
          display inline-block
          width 100%
          text-align center
          color #444444
          font-weight 600
          opacity 0.45
          //font-size 1vw

        &:after
          right -1px
          top 0
          position absolute
          height 100%
          content ""
          border-left 1px solid #CBCBCB

      &--days
        position relative
        flex 1
        width 0 // forces item width to rely only on flexbox
        min-width 0 //forces firefox to do the same
        padding 0px 5px
        transition all 200ms ease-in
        flex-grow 1
        // &:after
        //   left 0
        //   top 0
        //   position absolute
        //   height 100%
        //   content ""
        //   border-left 1px solid #CBCBCB
 

        p
          transition all 200ms ease-in
          height 100%
          display flex
          font-weight 600
          justify-content center
          align-items center
          //font-size 1vw
          flex-wrap wrap
          opacity 0.45
          padding 10px 0px
          span
            line-height 10px
            text-align center
            width 100%
            display block
          >.week-date
            display block
            opacity 0.45


        &.is-today
          p
            color black
            background white
            position absolute
            left -5px
            box-shadow 0 0 12px 0 rgba(0,0,0,0.1)
            z-index 6
            border-radius 10px
            transform scale(1.2)
            opacity 1
            display flex
            width calc( 100% + 10px)
          &:after
            content ""
            position absolute
            bottom -6px
            left 0px
            z-index 6
            width 100%
            border-top 3px solid
            border-radius 5px 5px 0 0
            border-left none
            background-color $primary
          &:before
            position absolute
            content ""
            width 100%
            left 0
            height calc(100vh - 340px)
            min-height: 100% !important;
            background-color #38759F
            opacity 0.25
            pointer-events none

        &.is-weekend 
          background-color rgba(242,244,245, 1)
          // &:before
          //   position absolute
          //   content ""
          //   width 100%
          //   left 0
          //   height $scheduleTableHeight
          //   border-left: 1px solid #cbcbcb;
          //   background-color rgba(242,244,245, 0.6)
          //   pointer-events none
          //   z-index 10
          p
            background-color rgba(242,244,245, 1)


    &__body
      height calc(100vh - 400px)
      overflow-y hidden
      &--loader
        display flex
        justify-content center
        align-items center
        position absolute
        right 0
        bottom 0
        height 120px
        &:after
          content ""
          width 0
          height 0
          border-style solid
          border-width 0 0 120px 120px
          opacity 0.4
          border-color transparent transparent $primary transparent
        .spinner
          margin-bottom: -50px;
          margin-right: -110px;


  &.is-month
    .scheduler
      &__header
        &--days
          &:after
              left 0
              top 0
              position absolute
              height 100%
              content ""
              border-left 1px solid #CBCBCB
          &.is-today
            &:after
              height 0
              top auto
              bottom -6px

  .tinyDate 
    @media (max-width: $display-large-desktop) 
      font-size 0
      &::first-letter 
        font-size: 16px
      
    
  
