@import '~@/assets/styles/global/variables';

.action-button
  border-radius 3px
  height 32px
  max-width 122px
  width 100%
  line-height 22px
  color white
  padding 0
  border 0
  transition: box-shadow .3s ease
  @media (max-width: $display-small-desktop) {
    margin: 0 4px;
  }

  &--yes
    background: linear-gradient(225deg, #4687FF 0%, #4E5C6F 100%);
  &--no
    background: linear-gradient(226deg, #E9061B 0%, #4E5C6F 100%);
  &--secondary
    background: white;
    color: #4E6CBE;
    border:1px solid #4E6CBE;
  &--primary
    background: linear-gradient(225deg, #4687FF 0%, #4E5C6F 100%);
    color: white;

  &--neutral
    background: none
    color #202123
    border none
    box-shadow none
  &:hover{
      box-shadow 0 10px 15px 0 rgba(0,0,0,0.1)
  }


