/*
 * Loaded gloably as a module from vue.config.js
 */

/*Wireframe colors*/
$WFgray = #D8D8D8
$WFlightGray = #F3F6F7
$WFdarkGray = #DFE6EB

/* Main layout colors*/
$primary = #856ff9;
$secondary = #5748A6;
$primaryLight = lighten($primary, 30%);
$secondaryLight = lighten($secondary, 30%);
$primaryGray = #DCDCDC;
$primaryOpacity = rgba(133, 111, 249, 0.15);
$primarySideNavIcon = #888888;
$primarySideNav = #ffffff;
$errorPrimary = #FE5B78;
$successPrimary = #22CB87;

$mainBlue = #1D3743
$lightGray = #F9F9F9;
$highlightGray = #f3f3f3
$sideNavGray = #607381
$blue = #4D77FF
$lighterBlue = #30567B
$lightBlue = #856ff9
$textBlue = #18191A
$white = #ffffff
$fontGray = #838D98
$fontDark = #202123
$darkGray = #DFE6EB
$iconGray = #959EAD
$gray = #999999
$lightBlue = #2898FF
$highlightBlue = $primary
$checkboxBlue = #507BFA
$iconBlue = $primary
$veryLightGray = #D7D7D7
$red = #CB1B1B
$errorRed = #d9534f
$linkActive = $primary