@font-face {
  font-family: Aileron;
  src: url('~@/assets/fonts/aileron/Aileron-Regular.otf') format('opentype')
  }

 @font-face {
  font-family: Aileron-SemiBold;
  src: url('~@/assets/fonts/aileron/Aileron-SemiBold.otf') format('opentype')
  } 

  @font-face {
  font-family: Aileron-Bold;
  src: url('~@/assets/fonts/aileron/Aileron-Bold.otf') format('opentype')
  }  